@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Outfit:wght@300&family=Roboto:wght@100&display=swap");

.container {
  margin-top: 72px;
  width: 75rem;
  height: 41rem;
  display: flex;
  min-height: 100%;
}

.article-title {
  font-size: 55px;
  margin: 0;
  font: normal normal 600 55px/69px Outfit;
  letter-spacing: 0px;
  color: #262626;
}

.para-height {
  height: 121px;
  width: 532px;
  margin-bottom: 26px;
  font-size: 18px;
  color: #c9c7db;
}
.shop-title {
  margin-bottom: 72px;
  font-size: 23px;
  display: flex;
  font: normal normal normal 23px/29px Outfit;
  letter-spacing: 0px;
  color: #6e63f8;
  cursor: pointer;
}
.shop-title span {
  margin-left: 3px;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.row-2 {
  display: flex;
  flex-direction: row;
}

.col-1 {
  width: 37.5rem;
  flex-basis: 55%;
  /* border-right: 3mm ridge rgba(108, 97, 202, 0.6); */
  /* border-right: 1px solid #c9c7db; */
  /* border-bottom: 1px solid black; */
}

.images-col-1-container {
  width: 256px;
  height: calc(209px+12px+23px);
  margin-right: 20px;
  font: normal normal normal 18px/23px Outfit;
  letter-spacing: 0px;
}

.shoes-price {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding-top: 13px;
  font: normal normal bold 18px/23px Outfit;
}

.model-style {
  font-size: 18px;
  font-weight: 400;
  font: normal normal bold 18px/23px Outfit;
  color: #262626;
}

.brand-style {
  color: #c9c7db;
  font-size: 18px;
  font-weight: 600;
}

.first-image-col-1 {
  width: 256px;
  height: 209px;
  border: 2px solid #c9c7db;
}
.first-image-col-1 img {
  width: 173px;
  height: 130px;
  margin: auto;
  margin-top: 20px;
  display: block;
}

.second-image-col-1 {
  width: 256px;
  height: 209px;
  border: 2px solid #c9c7db;
}
.second-image-col-1 img {
  width: 173px;
  height: 130px;
  margin: auto;
  margin-top: 20px;
  display: block;
}

/* second column */
.col-2 {
  width: 37.5rem;
  flex-basis: 45%;
  display: block;
}

/* first image */
.first-image-col-2 {
  height: 242px;
  width: 440px;

  float: right;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.black-div-1 {
  width: 348px;
  height: 72px;
  background-color: #262626;
}
.black-div-2 {
  width: 100px;
  height: 72px;
  background-color: #262626;
}
.black-div-3 {
  background-color: #262626;
  height: 72px;
  width: 440px;
  z-index: 3;
}
.rotate-image {
  width: 290px;
  height: 190px;
  position: absolute;
  z-index: 2;
  transform: rotate(-22deg);
  padding-right: 30px;
}

/* second image */
.second-image-col-2 {
  height: 209px;
  width: 440px;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  float: right;
}

.shoes-image {
  height: 209px;
  width: 440px;
  object-fit: cover;
  object-position: 20% 65%;
}

.see-editorial-btn {
  height: 23px;
  width: 440px;
  margin-top: 13px;
  font-size: 18px;
  margin-bottom: 72px;
  cursor: pointer;
}

.horisontal-bare-first {
  height: 2px;
  width: 532px;
  background-color: #c9c7db;
  margin-top: 72px;
}

.horisontal-bare-second {
  height: 2px;
  width: 440px;
  background-color: #c9c7db;
}

/* .vertical-bare {
  height: 415px;
  width: 2px;
  background-color: #c9c7db;
  position: fixed;
  right: 47%;
  left: 53%;
} */
